{% extends 'faculty_dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %} {% endblock %}
{% block header_js %} {% endblock %}

{% block page_wrapper_contents %}
    {% if messages %} {% for m in messages %}
        <div class="alert alert-{{ m.tags }} ">{{ m }}</div>
    {% endfor %} {% endif %}
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title badge badge-primary"><i class="material-icons">pending_actions</i></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">APPLICATIONS</h1>
                    <h1 class="card-text">{{ active_users }}/{{ users }}</h1>
                    {{ user.academic_year_faculty_data }}
                </div>
                <div class="card-footer text-muted">
                    <div class="row no-gutters text-center">
                        <div class="col-md-4 col-sm-4"><span
                                class="badge badge-primary">SUPER ADMIN: {{ superadmin_type_count }}</span></div>
                        <div class="col-md-4 col-sm-4"><span
                                class="badge badge-info">ADMIN: {{ admin_type_count }}</span></div>
                        <div class="col-md-4 col-sm-4"><span
                                class="badge badge-default">USER: {{ user_type_count }}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4"></div>
    </div>
{% endblock %}

{% block scripts %}

    <!-- Datatables -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').DataTable({
                bFilter: false,
                bLengthChange: false,
                pageLength: 10,
            });
        });
    </script>
    <!-- /Datatables -->

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}