{% load static %}
<div class="sidebar" data-color="blue">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="{% if menu_subsection == 'admin_dashboard' %}active{% endif %}">
                <a href="{% url 'admin_dashboard_home_view' %}">
                    <i class="tim-icons icon-components"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="{% if menu_subsection == 'account' %}active{% endif %}">
                <a href="{% url 'admin_dashboard_accounts_list' %}">
                    <i class="material-icons">people</i>
                    <p>Accounts</p>
                </a>
            </li>
            <li class="{% if menu_subsection == 'academic_year' %}active{% endif %}">
                <a href="{% url 'admin_dashboard_academic_years_list' %}">
                    <i class="material-icons">date_range</i>
                    <p>Academic Years</p>
                </a>
            </li>
            <li class="{% if menu_subsection == 'grade_level' %}active{% endif %}">
                <a href="{% url 'admin_dashboard_grade_levels_list' %}">
                    <i class="material-icons">date_range</i>
                    <p>Year Levels</p>
                </a>
            </li>
            <li class="{% if menu_subsection == 'section' %}active{% endif %}">
                <a href="{% url 'admin_dashboard_sections_list' %}">
                    <i class="material-icons">date_range</i>
                    <p>Section</p>
                </a>
            </li>
            <li class="{% if menu_subsection == 'department' %}active{% endif %}">
                <a href="{% url 'admin_dashboard_departments_list' %}">
                    <i class="material-icons">subject</i>
                    <p>Departments</p>
                </a>
            </li>
            <li class="{% if menu_subsection == 'subject' %}active{% endif %}">
                <a href="{% url 'admin_dashboard_subjects_list' %}">
                    <i class="material-icons">subject</i>
                    <p>Subjects</p>
                </a>
            </li>

        </ul>
    </div>
</div>