{% load static %}
<div class="sidebar" data-color="blue">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="{% if menu_subsection == 'student_dashboard' %}active{% endif %}">
                <a href="{% url 'student_dashboard_home_view' %}">
                    <i class="tim-icons icon-components"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="{% if menu_subsection == 'academic_year' %}active{% endif %}">
                <a href="{% url 'student_dashboard_academic_years_list' %}">
                    <i class="material-icons">date_range</i>
                    <p>Academic Years</p>
                </a>
            </li>

        </ul>
    </div>
</div>