{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_css %} {% endblock %}
{% block header_js %} {% endblock %}

{% block page_wrapper_contents %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">{{ page_title }}</h5>
                    <h2 class="card-title">{{ page_title }} Detail</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ page_title }}</h4>
                    <p class="card-subtitle">
                        Deleting {{ obj }} is a destructive operation and cannot be undone. Are you sure?
                    </p>

                    <form method="post">
                        {% csrf_token %}

                        {{ form|crispy }}
                        <button class="btn btn-danger animation-on-hover" type="submit">
                            Yes I am, delete {{ obj }}
                        </button>
                        <a class="btn btn-default animation-on-hover"
                           href="{% url 'admin_dashboard_accounts_list' %}">
                            No, I changed my mind
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block srcipts %}
{% endblock %}
