{% extends 'faculty_dashboard/base.html' %}
{% load static %}

{% block header_css %} {% endblock %}
{% block header_js %} {% endblock %}

{% block page_wrapper_contents %}
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="card-title float-left">{{ page_title }}</h4>
            <a class="btn btn-primary btn-sm float-left ml-2 pt-0 pb-1"
               href="{% url 'faculty_dashboard_topics_create' %}?academic_year_subject={{ academic_year_subject.pk }}"><i
                    class="tim-icons icon-simple-add"></i></a>
        </div>
        <div class="card-body">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'faculty_dashboard_home_view' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'faculty_dashboard_academic_years_list' %}">School
                        Years</a></li>
                    <li class="breadcrumb-item"><a
                            href="{% url 'faculty_dashboard_academic_year_subjects_list' academic_year_subject.pk %}">{{ academic_year_subject.academic_year }}</a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'faculty_dashboard_subjects_detail' subject.pk %}">Subject: {{ academic_year_subject.subject }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-category">{{ subject }}</h5>
            <h3 class="class">Category</h3>
        </div>
        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
            {% for obj in objects %}
                <div class="card card-plain">
                    <div class="card-header" role="tab" id="heading_{{ obj.pk }}">
                        <div class="row">
                            <div class="col-md-6">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ obj.pk }}"
                                   aria-expanded="true"
                                   aria-controls="collapse_{{ obj.pk }}">
                                    {{ obj }}

                                    <i class="tim-icons icon-minimal-down"></i>
                                </a>

                            </div>
                            <div class="col-md-6 float-right text-right">
                                <a class="btn btn-info btn-sm btn-icon" title="Add Activity"
                                   href="{% url 'faculty_dashboard_activities_create' %}?topic={{ obj.pk }}">
                                    <i class="tim-icons icon-simple-add"></i>
                                </a>
                                <a class="btn btn-info btn-sm btn-icon" title="Details"
                                   href="{% url 'faculty_dashboard_topics_detail' obj.pk %}">
                                    <i class="tim-icons icon-badge"></i>
                                </a>
                                <a class="btn btn-success btn-sm btn-icon" title="Update"
                                   href="{% url 'faculty_dashboard_topics_update' obj.pk %}">
                                    <i class="tim-icons icon-pencil"></i>
                                </a>
                                <a class="btn btn-danger btn-sm btn-icon" title="Delete"
                                   href="{% url 'faculty_dashboard_topics_delete' obj.pk %}">
                                    <i class="tim-icons icon-simple-remove"></i>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="collapse_{{ obj.pk }}" class="collapse show" role="tabpanel"
                         aria-labelledby="heading_{{ obj.pk }}">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if obj.activities_topic.all %}
                                        {% for obj in obj.activities_topic.all %}
                                            <tr>
                                                <td>{{ obj }}</td>
                                                <td class="td-actions text-right">
                                                    <a class="btn btn-info btn-sm btn-icon" title="Details"
                                                       href="{% url 'faculty_dashboard_activities_detail' obj.pk %}">
                                                        <i class="tim-icons icon-badge"></i>
                                                    </a>
                                                    <a class="btn btn-info btn-sm btn-icon" title="View Submissions"
                                                       href="{% url 'faculty_dashboard_exercises_list' obj.pk %}">
                                                        <i class="tim-icons icon-bullet-list-67"></i>
                                                    </a>
                                                    <a class="btn btn-success btn-sm btn-icon" title="Update"
                                                       href="{% url 'faculty_dashboard_activities_update' obj.pk %}">
                                                        <i class="tim-icons icon-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-danger btn-sm btn-icon" title="Delete"
                                                       href="{% url 'faculty_dashboard_activities_delete' obj.pk %}">
                                                        <i class="tim-icons icon-simple-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="2" class="text-center">No activity found</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
